<%= form_for("user", :html => { :id => 'user-login-form' }, :url => user_session_path, :remote => true) do |f| %>
  <div class="alert alert-error hide" data-dismiss="alert"></div>

  <%= f.text_field :email, :class => "span3", :placeholder => "Username" %>
  <%= f.password_field :password, :class => "span3", :placeholder => "Password" %>
  <label class="checkbox">
    <%= f.check_box :remember_me %> Remember Me
  </label>
  <%= f.submit 'Sign in', :class => "btn btn-info btn-block" %>
  <%= link_to "Forgot your password?", new_password_path('user') %>
<% end %> 
