<div id="main-wrapper">
<div id="container">
  <div id="display">0</div>
  <div id="panel">
    <div class="btn" id="backspace"></div>
    <div class="btn" id="clear_btn">CLEAR</div>
    
    <div class="btn control_btn" id="root2">&#8730</div>
    <div class="btn control_btn" id="root3">&#8731;</div>
    <div class="btn control_btn" id="tg">tg(x)</div>
    <div class="btn control_btn" id="plus_minus">&#177;</div>
    
    <div class="btn number_btn">7</div>
    <div class="btn number_btn">8</div>
    <div class="btn number_btn">9</div>
    <div class="btn control_btn" id="divide">&#247;</div>
    
    <div class="btn number_btn">4</div>
    <div class="btn number_btn">5</div>
    <div class="btn number_btn">6</div>
    <div class="btn control_btn" id="multiply">&#215;</div>
    
    <div class="btn number_btn">1</div>
    <div class="btn number_btn">2</div>
    <div class="btn number_btn">3</div>
    <div class="btn control_btn" id="minus">&#0150;</div>
    
    <div class="btn number_btn">0</div>
    <div class="btn number_btn">.</div>
    <div class="btn control_btn" id="calculate">=</div>
    <div class="btn control_btn" id="plus">+</div>
  </div>
</div>
</div>