@font-face {
  font-family: "Digital-7";
  src: url(/assets/digital-7i.ttf) format("truetype");
}

@font-face {
  font-family: "Micross";
  src: url(/assets/micross.ttf) format("truetype");
}

body {
	margin: 0;
	font-family: Arial;
  color: #272727;
  background-color: #bfbfbf;
}

#main-wrapper {
	margin: 25px auto;
}

#container {
  height: 545px;
  width: 370px;
  margin: 0 auto;
  background-image: url('/assets/bg.png');
  border: 1px solid #b7b7b7;
  -moz-box-shadow: 3px 4px 5px #888;
  -webkit-box-shadow: 3px 4px 5px #888;
  box-shadow: 3px 4px 5px #888;
}

#panel {
  margin-left: 80px;
  width: 214px;
  height: 304px;
  position: absolute;
  margin-top: 140px;
}

#display {
  position: absolute;
  margin-top: 71px;
  margin-left: 89px;
  width: 180px;
  font-size: 36px;
  font-family: "Digital-7", Verdana, Tahoma;
  padding: 0 6px;
  text-align: right;
  unicode-bidi: bidi-override;
}

.btn {
  width: 46px;
  height: 41px;
  float: left;
  font-size: 32px;
  padding-top: 5px;
  text-align: center;
  margin-left: 5px;
  margin-top: 5px;
  font-family: "Micross";
}

.control_btn {
  background-image: url('/assets/control.png');
}

.number_btn {
  background-image: url('/assets/number.png');
}

#backspace {
  background-image: url('/assets/backspace.png');
  width: 96px;
  height: 36px;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  padding-top: 0;
}

#clear_btn {
  background-image: url('/assets/clear.png');
  width: 96px;
  height: 28px;
  float: left;
  font-size: 18px;
  padding-top: 8px;
  text-align: center;
  margin-left: 5px;
  font-weight: bold;
  margin-top: 5px;
}

.btn:hover {
  cursor: pointer;
}

.control_btn:hover {
  background-image: url('/assets/control_hover.png');
}

.number_btn:hover {
  background-image: url('/assets/number_hover.png');
}

#backspace:hover {
  background-image: url('/assets/backspace_hover.png');
}

#clear_btn:hover {
  background-image: url('/assets/clear_hover.png');
}

#tg {
  font-size: 18px;
  line-height: 30px;
}
